<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Flight tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th> ID </th>
        <th> Company name  </th>
        <th> Departure place </th>
        <th> Landing place </th>
        <th> Departure time </th>
        <th> Landing time </th>
        <th> Late by mins </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="plane : ${allPlanes}">
        <td th:text="${plane.id}"></td>
        <td th:text="${plane.companyName}"></td>
        <td th:text="${plane.departurePlace}"></td>
        <td th:text="${plane.landingPlace}"></td>
        <td th:text="${plane.departureTimeInMillis}"></td>
        <td th:text="${plane.landingTimeInMillis}"></td>
        <td th:text="${plane.lateByMins}"></td>
    </tr>
    </tbody>
</table>
<form method="POST" action="save">
    COMPANY NAME<input name="companyName" type="text"/><br>
    DEPARTURE PLACE<input name="departurePlace" type="text"/><br>
    LANDING PLACE<input name="landingPlace" type="text"/><br>
    DEPARTURE TIME<input name="departureTime" type="datetime-local"/><br>
    LANDING TIME<input name="landingTime" type="datetime-local"/><br>
    LATE BY MINS<input name="lateByMins" type="number"/><br>
    <input type="submit" name="submit" value="value"/>
</form>

<form method="POST" action="remove">
    DELETE BY PLANE ID:<input name="planeId" type="number"/><br>
    <input type="submit" name="submit" />
</form>
</body>


</html>